body
{
  background-color: #08091D;
  max-height: 100vh;
  position: relative;
  margin: 10px;
}

.btn {
  border-radius: 40px;
  background-color: #08091E;
  font-size: 18px;
  cursor: pointer;
  font-family: calibri;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* blue */
.HOME {
  border-color: #39339D;
  border-width: medium;
  color:white;
  padding: 18px 90px;
}

.HOME:hover {
 border-color:#39339D;
  border-width: medium;
  color: #6387DC;
    padding: 18px 90px;
}

/* Green */
.PORTFOLIO {
  border-color: #5A9A56;
  border-width: medium;
  color:white;
  padding: 18px 70px;
}

.PORTFOLIO:hover {

 border-color:#39339D;
  border-width: medium;
  color: #5A9A56;
  padding: 18px 70px;
}

/* pink*/
.ABOUT {
  border-color: #F34792;
  border-width: medium;
  color:white;
  padding: 18px 85px;
}

.SUBMIT {
  border-color: #39339D;
  border-width: medium;
  color:#F34792;
  padding: 8px 55px;
}

.ABOUT:hover {

 border-color:#39339D;
  border-width: medium;
  color: #F34792;
  padding: 18px 85px;
}
/* blue */
.CONTACT {
  border-color: #6387DC;
  border-width: medium;
  color:white;
    padding: 18px 75px;
}

.CONTACT:hover {
 border-color:#39339D;
  border-width: medium;
  color: #6387DC;
    padding: 18px 75px;
}

.flex-container {
  display: flex;
}

.parent {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.parent-horiz {
  align-items: center;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social {
  align-items: center;
  display: flex;
  justify-content: center;
  column-gap: 15px;        /*Change this to increase/decrease space between social icons */
}

.footer-image
{
  width: 40px;
  display:inline-block;
}

.description {	
	text-align: center;
}

.logo {
  display: flex;
  justify-content: center;  
}

.logo img {
  width: 335px;
  height: 335px;
}

.galcell{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.galimg {
  width: 250px;
  height: 250px;
}

.description h1 {
	color: #6387DC;
  font-family: Calibri, sans-serif;
  font-size: 2rem;
}

.description h1.redtitle {
	color: #EC1164;
}

.description h2 {
	color: #6387DC;
  font-family: Calibri, sans-serif;  
  font-size: 1.5rem;
}

.footer-copyright
{
  color: #6387DC;
}

.description p {
	color: #fff;
	font-size: 1rem;
	line-height: 1.5;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #39339D;
  padding: 10px;
  line-height: 1.9;
}

.page-header {
	border-bottom: 0px;
	padding-bottom: 30px; /* This is for spacing in the bottom of all pages */
	/* margin: 20px 0 40px */ /*This is for spacing on top of all pages, change first 20px to 30px or 10*/
}

.page-footer
{
  padding-top: 30px;
}

#button-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 25px; /*Change this for Gaps between buttons*/
}

.title1 {
  color: #5A9A56;
  font-size: 3rem;
}

h2.title1 {
  color: #5A9A56;
  font-size: 2.6rem; 
}

.title2 {
  color: #6387DC;
  font-size: 2.3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


/* Create three equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 15px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.rcorners {
  border-radius: 20px;
  border: 2px solid #39339D;
  line-height: 1.5;
  margin: 20px;
  padding: 5px;  
}

.gallerytitle{
  text-align: center;  
  display: inline-block;
}

.carousel-nav
{
  width: 50px;
  height: 50px;
}

.portfolioslider{
  margin: 0px;
  padding: 0px;
}

.slick-container{
  margin: 0px;
  padding: 0px;
}

.sliderpage{
  margin: 20px;
  padding: 0px;
  height: fit-content !important;
}

.label{
  color:#6387DC;
  font-size: 1.3rem;  
  margin: 1px;
  text-align: left;
  float: left;
  display: block;
}

.form-parent{
  width: 100%;
}

.form-control{
  background-color: black;
  border: 1px solid #39339D;
  color: #fff;
}

.form-submit{
  text-align: center;
  display: inline-block;
}

.contactform {
  padding: 20px;  
  display: inline-flex;
  width: 80%;
}

.form-control::-webkit-input-placeholder {
  color: #39339D;
}

.navbar-custom{
  background-color: #000353;
}

.navbar-header{
  background-color: #08091D;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../img/HAMBURGER.jpg");
  background-size: 100%;
  background-position: center center;
  width: 35px;
  height: 46px;
  display: flex;
}

/* The Overlay (background) */
.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #000353; /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding: 70px 0 0 40px;
}

#menuCloseBtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 60px;
  text-decoration: solid;
}

.navbar-toggle{
  position: absolute;
  padding: 10px 20px;
}